# Середовище
.venv/
env/

# Налаштування PyCharm
.idea/

# Файли збірки PyInstaller
build/
dist/
*.spec

# Системні файли Python
__pycache__/
*.pyc

# База даних (краще не завантажувати локальну БД з тестовими даними)
*.db