# Середовище Python (важкі файли, які потрібні тільки локально)
.venv/
env/

# Налаштування редактора PyCharm
.idea/

# Системні кеш-файли Python
__pycache__/
*.pyc

# Локальна база даних (щоб не перезаписувати тестові дані при кожному коміті)
*.db